# =========================
# Flutter
# =========================
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.idea/

# Android
**/.gradle/

# =========================
# React / Node
# =========================
**/node_modules/
**/dist/

# =========================
# Python
# =========================
**/__pycache__/
**/*.pyc
**/venv/
**/.venv/

# =========================
# Environment files
# =========================
**/.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db